
@model try2.Models.Note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NotesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotesName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NotesDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotesDetail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>




