

@model IEnumerable<try2.Models.Project>

@{
    ViewBag.Title = "ListView";
}




<h2>Project Specifications</h2>

<p>
    <table class="table indent">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
           
            <th>Views</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </table>
</p>
<div class="indent">
    @Html.ActionLink("Create New", "Create")
</div>
